
.card-count {
  color: rgba(0, 123, 255, 0.85);
  font-size: 20px;
  font-weight: bold;
}

.card-title {
  font-size: 14px;
  font-weight: 600;
}

.dashboard-container{
  margin-left: 50px;
  margin-right: 50px;
}

.ant-table-wrapper .ant-table-thead{
  color: gray;
}

.ant-table-wrapper .ant-table-thead >tr>th, .ant-table-wrapper .ant-table-thead >tr>td{
  color: rgb(73 66 66 / 88%) !important;
 }